#search-form {
  label {
    font-size: 12px;
    font-weight: lighter;
  }

  input[type=text] {
    margin: 0px;
    border: 1px solid $lt-grey;
    border-right: none;
    height: 39px;
    padding: 10px;
  }

  #search-button {
    margin-top: 25px;
  }
}
